.content-wrapper {
    margin-left: 0px; !important
}

.info-box {
    margin-bottom: 0px; !important
}

.info-box-icon {
    width: 60px !important;
    font-size: 30px !important;
    height: 95px !important;
    line-height: 95px !important;
}

.info-box-content {
    margin-left: 60px !important;
}

.builds-wrapper {
    padding: 0 5px;
}

.content {
    margin-top: 25px;
}

.breadcrumb {
    float: left !important;
    right: auto !important;
    font-size: 14px !important;

}

.log-container {
    background-color: black;
    color: #E0E0E0;
    padding: 7px;
}